<%= bootstrap_form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.check_box :admin %>
  </div>

  <div class="field">
    <%= form.datetime_select :last_sign_in_at %>
  </div>

  <div class="field">
    <%= form.number_field :loans_count %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
