<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Slack Name</th>
      <th>Slack UID</th>
      <th>Admin?</th>
      <th>Demoted?</th>
      <th>Last sign in at</th>
      <th>Loans count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <td><%= user.slack_name %></td>
        <td><%= user.slack_uid %></td>
        <td><%= user.admin %></td>
        <td><%= user.temporarily_demoted %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= user.loans_count %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
