<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Temporarily Demoted:</strong>
  <%= @user.temporarily_demoted %>
</p>

<p>
  <strong>Last sign in at:</strong>
  <%= @user.last_sign_in_at %>
</p>

<h3><%= @user.loans_count %> Loans count:</h3>
<ul class="list-group list-group-flush">
<% @user.loans.each do |loan| %>
  <li class="list-group-item <%= loan.overdue? ? "list-group-item-danger" : "" %>"><%= link_to loan.item.name, loan %></li>
<% end %>  
</ul>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-info' %>

