<%= bootstrap_form_with(model: loan, local: true) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.select :user_id, options_for_select(User.order(name: :asc).map{ |s| [ s.name, s.id ] }, @loan.user_id) %>
  </div>

  <div class="field">
    <%= form.select :item_id, options_for_select(Item.order(name: :asc).map{ |s| [ s.name, s.id ] }, @loan.item_id) %>
  </div>

  <div class="field">
    <%= form.datetime_select :requested_at %>
  </div>

  <div class="field">
    <%= form.datetime_select :fulfilled_at %>
  </div>

  <div class="field">
    <%= form.datetime_select :due_at %>
  </div>

  <div class="field">
    <%= form.datetime_select :returned_at %>
  </div>

   <div class="actions">
    <%= link_to 'Cancel', loans_path, class: 'btn btn-danger' %>
    <%= form.submit %>
  </div>
<% end %>
