<%= bootstrap_form_with(model: loan, local: true) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
        <% loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.text_field :item_id %>
  </div>

  <div class="field">
    <%= form.datetime_select :requested_at %>
  </div>

  <div class="field">
    <%= form.datetime_select :fulfilled_at %>
  </div>

  <div class="field">
    <%= form.datetime_select :returned_at %>
  </div>

  <div class="field">
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
