<p id="notice"><%= notice %></p>

<h1>Loans</h1>
<h2><%= @subheading %></h2>

<table class='table'>
  <thead>
    <tr>
<% if can? :manage, Loan %>
      <th>User</th>
<% end %>
      <th>Item</th>
      <th>Requested at</th>
      <th>Fulfilled at</th>
      <th>Due at</th>
      <th>Returned at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
<% if current_user.present? && current_user.admin? %>
        <td><%= link_to loan.user.name, "/user/#{loan.user_id}" %></td>
<% end %>
        <td><%= link_to loan.item.name, loan.item %></td>
        <td><%= loan.requested_at %></td>
        <td><%= loan.fulfilled_at %></td>
        <td><%= loan.due_at %></td>
        <td><%= loan.returned_at %></td>
<% if can? :manage, Loan %>
        <td><%= link_to 'Show', loan_path(loan) %></td>
        <td><%= link_to 'Delete', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, Loan  %>
<%= link_to 'New Loan', new_loan_path, class: 'btn btn-info'  %>
<% end %>
