<p id="notice"><%= notice %></p>

<% if @loan.overdue? %>
<h1 class='btn btn-danger'>OVERDUE!</h1>
<% end %>

<h2><%= link_to @loan.item.name, @loan.item %></h2>
<p>
 <%= link_to @loan.item.category.name, @loan.item.category %>
borrowed by 
  <%= link_to @loan.user.name, @loan.user %>
</p>

<p>
  <strong>Requested:</strong>
  <%= @loan.requested_at.strftime("%A, %H:%M  %d/%m/%Y") %>
</p>

<p>
  <strong>Fulfilled at:</strong>
  <%= @loan.fulfilled_at.try { |t| t.strftime("%A, %H:%M  %d/%m/%Y") } %>
</p>

<p>
  <strong>Due at:</strong>
  <%= @loan.due_at.try { |t| t.strftime("%A, %H:%M  %d/%m/%Y") } %>
</p>

<p>
  <strong>Returned at:</strong>
  <%= @loan.returned_at.try { |t| strftime("%A, %H:%M  %d/%m/%Y") } %>
</p>

<%= link_to 'Confirm Fulfilled', '/loan', class: 'btn btn-primary' %>
<%= link_to 'Confirm Returned', '/loan', class: 'btn btn-secondary' %>
<%= link_to 'Cancel Loan', '/loan', class: 'btn btn-danger' %>
<br><br>
<%= link_to 'Edit', edit_loan_path(@loan), class: 'btn btn-info' %>
