<%= bootstrap_form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.select :category_id, options_for_select(Category.all.sort { |a,b| a.name <=> b.name }.map{ |s| [ s.name, s.id ] }) %>
  </div>

  <div class="field">
    <%= form.text_field :serial_number %>
  </div>

  <div class="field">
    <%= form.text_field :max_loan_days, label: "Max loan days (defaults to category setting)" %>
  </div>

  <div class='field'>
    <%= form.text_area :description %>
  </div>

   <div class="field">
    <%= form.select :status, options_for_select(Item.statuses, Item.statuses[@item.status]) %>
   </div>
   
  <div class="field">
    <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= link_to 'Cancel', items_path, class: 'btn btn-danger' %>
    <%= form.submit %>
  </div>
<% end %>
