<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
<% if can? :manage, Item %>
      <th>Serial number</th>
<% end %>
      <th>Available</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= link_to item.category.name, items_path(category_id: item.category.id) %></td>
<% if can? :manage, item %>
        <td><%= item.serial_number %></td>
<% end %>
        <td><%= item.available? ? ' ✔' : 'X' %></td>
       <td>
<% if item.available? %>
  <%= form_with(url: loans_path(item_id: item.id), method: 'post') do %>
    <input type='submit' class='btn btn-info' value='Borrow'>
  <% end %>
<% end %>
       </td>

<% if can? :manage, item %>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, Item %>
<%= link_to 'New Item', new_item_path, class: 'btn btn-info'  %>
<% end %>
