<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category.name %>
</p>

<% if can? :manage, @item %>
<p>
  <strong>Serial number:</strong>
  <%= @item.serial_number %>
</p>
<% end %>

<% if @item.available? %>
<p>
  <%= form_with(url: loans_path(item_id: @item.id), method: 'post') do %>
    <input type='submit' class='btn btn-info' value='Borrow <%= @item.name %>'>
  <% end %>
</p>
<% end %>

<% if can? :manage, @item %>
  <%= link_to 'Edit', edit_item_path(@item) %>
<% end  %>
